{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Пассажирам.РФ{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        {% if user.is_authenticated %}
        <div class="nav">
            <a href="{% url 'dashboard' %}">ЛК</a> |
            <a href="{% url 'logout' %}">Выход</a>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>